body {
    margin: 0%;
    font-family: 'Montserrat', sans-serif;
    background-color: #090a0b;
}

/* NAV BAR CSS STARTS HERE*/

.navbar {
    --bs-navbar-color: white;
    --bs-navbar-brand-hover-color: white;
    padding-top: 2em;
    /* margin-left: 1em; */
    background-color: #090a0b;
}

.navbar-brand {
    font-size: xx-large;
    color: #ffffff;
}

.nav-link {
    color: #c9c9c9;
}

.nav-link:hover {
    text-decoration: underline;
}

.navbar-nav {
    font-size: x-large;
    --bs-nav-link-hover-color: #c9c9c9;
}

/* .navbar-toggler-icon {
    border-color: rgb(255,102,203);
} */

/* NAV BAR CSS ENDS HERE*/


/* landing page css starts here*/

.container {
    /* border: 2px solid yellow; */
    margin-top: 2rem;
    /* margin-top: 50px; */
}

.introContainer{
    /* border: 1px solid red; */
    margin-top: 100px;
}

.col-sm {
    /* border: 1px dotted white; */
}

.roundedImage {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    justify-content: center;
    margin-left: 50px;
}

.introduction{ 
    text-align: center; 
}

.introduction h1 {
    color: white;
     font-weight: 700;
   /* font-size: 30px; */

}

.introductionText{
    color: white;
    text-align: center; 
    font-size: 2.2rem;
}

.introductionTextfollowup {
    text-align: center; 
    color: white;
    /* border: 1px solid red; */
    padding-top: 2rem;
}

.introductionTextfollowup a {
    text-decoration: none;
    color: #23a0d8 ;
}

/* landing page css ends here*/

/* ABOUT ME css starts here*/

.aboutMeContainer {
    border: 2px solid red;
    margin-top: 200px;
    background-color: #191b1f;
    padding-bottom: 50px;
    height: 100vh;
}

.aboutMeHeader {
    border: 1px solid white;
    text-align: center;
    color: white;
    padding-bottom: 30px;
}

.podiumImage {
    border: 1px dotted red;
    width: 400px;
    height: 400px;
    margin-top: 100px;
}

.aboutMeText {
    border: 1px solid white;
    color: white;
    margin-left: 50px;
    margin-top: 20px;
    
}

/* ABOUT ME css Ends here*/