* {
    margin: 0%;
    font-family: 'Roboto', sans-serif;
    background-color: #00d6f8;
}

.container {
    /* border: 1px solid black; */
    height: 100%;
    position: fixed;
    margin-top: 2%;
    margin-right: 33%;
    margin-left: 33%;

}
.fullPage {
    background-color: #00d6f8;
     /* border: 1px solid black;  */
    width: 100%;
}

.dogImage {
    justify-content: center;
    position: fixed;
    bottom: 0;

}

.dogImage img {
    /* border: 1px solid black; */
    justify-content: center;
    position: fixed;
    bottom: 0;
    height: 250px;
}

.textBox {
    /* color: #ff8340; */
    color: white;
    font-size: larger;
    text-align: center;
    /* border: 1px solid black; */
 
    /* display: flex; */
}

.textBox a{
    color: inherit;
}